 #cards{
  height: 1300px;
  width: 100%;
  background-color: #ffffff; 
}

.display{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-right:30px;
}

.card-img{
  width: 275px;
  height: 160px;
  margin: 21px 0px 0px 21px;
  
}



a{
  text-decoration: none;
  width: 76px;
  height: 16px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #FFFFFF;
}

.content1{
  width: 310px;
  height: 100%;
  background: #FFFFFF;
  margin-top: 24px;
  border: 1px solid #F0F6FF;
  border-radius: 5px; 
  padding-bottom: 10px;

}
.lun{
  display: flex;
  justify-content: space-between;
  padding: 16px 21px 0px 26px;
  
}

.search2{
  display: flex;
  justify-content: space-between;
  padding: 17px 0px 0px 26px;
}
/* .set{
 position: relative;
 bottom: 5px;
  
} */
.location-svg{
  position: relative;
  right: 30px;
  top: 20px;
}


.set-wa{ 
  width: 77px;
  height: 17px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #AFB6C1;
} 
.view{
  width: 121px;
  height: 39px;
  border: none;
  background: #0D75FF;
  border-radius: 30px;
}

.browse{
  margin-top: 58px;
}

.browse-type{
  height: 44px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  color: #666879;
  }

.pet-types{
  display: flex; 
  gap: 30px;
  list-style: none;
  margin-top: 40px;
}

.dog{
  width: 118px;
  height: 108px;
  padding-left: 35px;
  padding-top: 20px;
  background: #F0F6FF;
  border: 2px solid rgba(13, 117, 255, 0.4);
  border-radius: 20px;
}
.cat{
  width: 118px;
  height: 108px;
  padding-left: 35px;
  padding-top: 20px;
  background: #F0F6FF;
  border: 2px solid rgba(13, 117, 255, 0.4);
  border-radius: 20px;
}
.bird{
  width: 118px;
  height: 108px;
  padding-left: 35px;
  padding-top: 20px;
  background: #F0F6FF;
  border: 2px solid rgba(13, 117, 255, 0.4);
  border-radius: 20px;
}
.rabbit{
  width: 118px;
  height: 108px;
  padding-left: 35px;
  padding-top: 20px;
  background: #F0F6FF;
  border: 2px solid rgba(13, 117, 255, 0.4);
  border-radius: 20px;
}
.reptile{
  width: 118px;
  height: 108px;
  padding-left: 35px;
  padding-top: 20px;
  background: #F0F6FF;
  border: 2px solid rgba(13, 117, 255, 0.4);
  border-radius: 20px;
}

.location-btn{
  width: 327px;
  height: 51px;
  background: #F8FAFD;
  border-radius: 5px;
  margin-top: 53px;
}
.location-svg-btn{
  position: relative; 
  left: 18px;
  bottom: 10px;
}
.location-select-btn{
  position: relative; 
  left: 30px; 
  bottom: 10px;
}

select{
padding-right: 140px;
}

@media screen and (max-width:768px){

  #cards{
    height: 2500px;
    width: 100%;
    background-color: #FFFFFF; 
    margin-top: 150px;
  }

  
.card1{
 
  width: 100%;
  height: 165px;
}
  .cards-display{
    display:block;
    

  }
  .car-display{
    display:block;
  }

  .search-result{
    margin-left: 20px;
    padding-top: 20px;
  }

  .browse-type{
    margin-left: 20px;
  }

  .pet-types{
   display: none;
  }

  .location-btn{ 
    margin-left: 30px;
  }

  .cards-content{
    width: 100%;
    height: 323px;
    margin-left: 20px;
     
  }

}
@media screen and (max-width:500px){
  .browse-type{
    width: 100px;
    height: 20px;
    font-size: 8px;
  }
}

#cards{
  width: 100%;
}







